In [1]:
import pandas as pd
import os
import glob

In [2]:
active_stations = "//gmvstorage.gmv.es/storage/anin/Streamflow/All stations_v2.CSV"

df = pd.read_csv(active_stations, header=None, skiprows=1, usecols=[0])
df_full = pd.read_csv(active_stations, header=None, skiprows=1)
ststions_list = df[0].tolist()
len(ststions_list)

551

In [3]:
available_stations = glob.glob('//gmvstorage.gmv.es/storage/anin/Streamflow/All_streamflow_data/*csv')
# available_stations = [name.replace('_140', '') if '_140' in name else name for name in available_stations]
available_stations = [os.path.splitext(os.path.basename(file))[0].replace('_140', '') for file in available_stations]

In [4]:
Nmissing = len(ststions_list)-len(available_stations)
Nmissing

64

In [5]:
missing_names = [name for name in ststions_list if name not in available_stations]
len(missing_names)

64

In [6]:
filename = "missing_stations.csv"  # Name of the output .csv file

df_2 = pd.DataFrame({'Missing Stations': missing_names})
df_2.to_csv(filename, index=False)

In [8]:
column_names = df.columns
column_names[0]

0

In [11]:
# Select rows corresponding to missing_names
selected_rows = df_full[df_full[column_names[0]].isin(missing_names)]
selected_rows

,0,1,2,3,4,5,6,7,8
32,A2H090Q,Hennops River @ Van Riebeeck Nat Res,Hennops @ Van Riebee,-25.885556,28.302778,2010/03/10,9,G,1.0
53,A9H000,Limpopo @ Pafuri,Pafuri,-22.425820,31.308330,2016/01/01,10,LP,1.0
64,B1H002,Spookspruit @ Elandspruit,Spooksp @ Elandspru,-25.819000,29.337750,1956/10/09,5,M,2.0
65,B1H004,Klipspruit @ Zaaihoek,Klipsp @ Zaaihoek,-25.673639,29.173222,1959/02/08,5,M,2.0
66,B1H005,Olifants River @ Wolwekrans,Olifants @ Wolwekran,-26.006556,29.254028,1972/07/13,5,M,2.0
...,...,...,...,...,...,...,...,...,...
354,NN14,Siyaya Lagoon,Mtunzini,-28.969600,31.755058,2002/04/24,3,KN,4.0
422,U1H010,IXOPO RIVER @ LYNFORD,IXOPO RIVER,-30.131111,30.051750,2017/02/16,3,KN,NaN
514,X1H046,Komati River @ Mananga,Komati @ Mananga,-25.945289,31.748694,1997/10/01,0,S,11.0
519,X1H054,Komati River @ Komatipoort,Kobwa,-25.446667,31.955722,2006/07/19,5,M,3.0
541,X3H000,Sabie @ Mozambique,Mozambique,-26.000000,32.000000,2016/01/01,10,M,11.0

In [ ]:
filename = 'selected_rows.xlsx'  # Name of the output Excel file

selected_rows.to_excel(filename, index=False)